﻿@model Simulab.Models.ModelResponse

@{  
    string endPoint = "Create";
    if (!String.IsNullOrEmpty(Model.Equations))
    {
        endPoint = "Edit";
    }
}

<div class="card-body">
    @using (Html.BeginForm(endPoint, "Model", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="form-check form-check-inline">
            <div class="form-group" style="padding-right:10px;">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <button class="btn btn-info btn-sm" onclick="@Html.Raw("chooseEditor" + Model.Id + "('Box')"); return false;">Text Box</button>
            <button class="btn btn-info btn-sm" onclick="@Html.Raw("chooseEditor" + Model.Id + "('Editor')"); return false;">Text Editor</button>
        </div>
        <div id=@Html.Raw("textareadiv" + Model.Id.ToString()) style="display: block">
            @Html.LabelFor(m => m.Equations, new { @class = "control-label" })
            <textarea class="form-control" data-val="true" data-val-required="The Equations field is required." id="@Html.Raw("texteditor" + Model.Id.ToString())" name="Equations" 
                      style="height:200px">@Html.Raw(Model.Equations)</textarea>
            <br />
        </div>
        <div id=@Html.Raw("texteditordiv" + Model.Id.ToString()) style="display: none">
            <pre id=@Html.Raw("editor" + Model.Id.ToString())></pre>
            <div class="scrollmargin"></div>
        </div>
        <input type="button" id="cancelModel" class="btn btn-secondary" value="Cancel" />
        <input type="submit" id="sendModel" class="btn btn-raised btn-info" value="Submit" />
    }
</div>
<script>

    function @Html.Raw("chooseEditor" + Model.Id + "(type)") {
        if (type == "Box") {
            $("@Html.Raw("#texteditordiv" + Model.Id.ToString())").hide();
            $("@Html.Raw("#textareadiv" + Model.Id.ToString())").show();

            $("@Html.Raw("#texteditor" + Model.Id.ToString())").attr("name", "Equations");
            //$(".ace_text-input").attr("name", "");
        }
        else if (type == "Editor") {
            $("@Html.Raw("#textareadiv" + Model.Id.ToString())").hide();
            $("@Html.Raw("#texteditordiv" + Model.Id.ToString())").show();

            $("@Html.Raw("#texteditor" + Model.Id.ToString())").attr("name", "");
            editor1.getSession().setValue(document.getElementById("@Html.Raw("texteditor" + Model.Id.ToString())").value); 
            editor1.getSession().setMode();
            //$(".ace_text-input").attr("name", "Equations");
        }

    }
    var str = document.getElementById("@Html.Raw("texteditor" + Model.Id.ToString())").value;
   
    var editor1 = ace.edit("@Html.Raw("editor" + Model.Id.ToString())", {
        theme: "ace/theme/monokai",
        mode: "ace/mode/html",
        maxLines: 30,
        minLines: 20,
        wrap: true,
        autoScrollEditorIntoView: true,
        value: str,
    });
    editor1.getSession().on('change', function () {
        updateTextArea()
    });

    function updateTextArea() //writes in <div> with id=output
    {
        var val = editor1.getSession().getValue();
        var divecho = document.getElementById("@Html.Raw("texteditor" + Model.Id.ToString())");
        divecho.innerHTML = val;
    }
</script>
