@model Simulab.Models.Database_Models.ModelItemModel

@using Newtonsoft.Json;

<script src="~/node_modules/vis/dist/vis.js"></script>

<div class="card-body">
    <div id=@Html.Raw("ModelViewer" + Model.Id)></div>
    <script type="text/javascript" id="code">
        $(function () {
            function VisFormatter(data) {
                return [data[0], data[1]];
            }

            var result = @Html.Raw(JsonConvert.SerializeObject(Model));

            var container = document.getElementById("@Html.Raw("ModelViewer" + Model.Id)");

            var formatted_data = VisFormatter(JSON.parse(result.Structure));

            var nodes = formatted_data[0];

            var edges = formatted_data[1];

            var data = {
                nodes: nodes,
                edges: edges
            };

            var options = {
                autoResize: true,
                height: window.innerHeight * 0.8 + 'px',
                width: '100%',
                nodes: {
                    shape: 'box',
                    scaling: {
                        min: 10,
                        max: 30,
                        label: {
                            min: 8,
                            max: 100
                        }
                    }
                },
                edges: {
                    width: 0.15,
                    color: { inherit: 'from' },
                    smooth: {
                        type: 'continuous'
                    }
                },
                physics: false,
                clickToUse: true,
                configure: {
                    enabled: false,
                    filter: 'nodes,edges',
                    showButton: true
                }
            };

            var network = new vis.Network(container, data, options);
        })
    </script>
</div>