@model List<Simulab.Models.Database_Models.ModelItemModel>
@if (Model != null)
{
    <div class="card-columns">
        @for (int i = 0; i < @Model.Count(); i++)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model[i].Name</h5>
                    <p class="card-text">@Model[i].Description</p>
                    <button class="btn btn-raised btn-info btn-sm" data-toggle="modal" onclick="RenderEdit(@Model[i].Id)"
                            href="#ModelEdit"
                            role="button" aria-expanded="false" aria-controls="ModelEdit">
                        Edit Model
                    </button>
                    <button class="btn btn-raised btn-info btn-sm" data-toggle="modal" onclick="RenderDetail(@Model[i].Id)"
                            href="#ModelView"
                            role="button" aria-expanded="false" aria-controls="ModelView">
                        View Model
                    </button>
                    <button class="btn btn-raised btn-warning btn-sm" role="button" onclick="DeleteModel(@Model[i].Id)">
                        Delete Model
                    </button>
                </div>
            </div>
        }

        <!-- Modal -->
        <!-- Edit -->
        <div class="modal fade" id="ModelEdit" tabindex="-1" role="dialog"
             aria-labelledby="ModelEdit" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModelEdit">Edit Model</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="ModelEditbody">
                    </div>
                </div>
            </div>
        </div>

        <!-- View -->
        <div class="modal fade" id="ModelView" tabindex="-1" role="dialog"
             aria-labelledby="ModelView" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModelView">View Model</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="ModelViewbody" >
                    </div>
                </div>
            </div>
        </div>
        <script>
            function RenderDetail(id)
            {
                var url = "@Url.Action("Detail", "Model")?id=" + id;
                $("#ModelViewbody").load(url);
            }

            function RenderEdit(id) {                
                var url = "@Url.Action("Edit", "Model")?id=" + id;
                $("#ModelEditbody").load(url);
            }

            function DeleteModel(id) { 
                var url = "@Url.Action("Delete", "Model")?id=" + id;
                $.post(url)
                    .done(function() { location.reload(); } )
            }
        </script>
    </div>
}