@model List<Simulab.Models.Database_Models.ModelItemModel>

@using Simulab.Models.Database_Models

@{
    ViewData["Title"] = "Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="height:100%;">
    <div class="row">
        <div class="col-lg-12" style="padding: 10px 0 10px 0;">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Models</h1>
                    <h6 class="card-subtitle mb-2 text-muted">Create, Edit, View and Delete Models</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a class="btn btn-raised btn-info" data-toggle="collapse" href="#collapseCreate"
                       role="button" aria-expanded="false" aria-controls="collapseCreate">
                        Create Model
                    </a>
                    <div class="collapse" id="collapseCreate">
                        <div class="card">
                            @Html.Partial("Create", new ModelItemModel())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       @Html.Partial("List", Model)
    </div>
</div>