﻿@model Simulab.Models.Database_Models.SimulationConfigurationModel

@using Simulab.Models.Simulations.Enums;

<div class="card border-primary mb-3">
    <div class="card-body">
        <h1 class="card-title">Environment Settings</h1>
        <div class="form-group">
            <div class="dropdown">
                @Html.LabelFor(m => m.TreatmentSetting, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.TreatmentSetting, Html.GetEnumSelectList(typeof(SimConfigTreatmentSettingType)), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TreatmentSetting, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TargetEnvironment, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.TargetEnvironment, Html.GetEnumSelectList(typeof(SimConfigTargetEnvironmentType)), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TargetEnvironment, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TargetLanguage, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.TargetLanguage, Html.GetEnumSelectList(typeof(SimConfigTargetLanguageType)), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TargetLanguage, "", new { @class = "text-danger" })
        </div>
    </div>
</div>