﻿@model Simulab.Models.Database_Models.ModelItemModel

@using Newtonsoft.Json;

@{
    List<string> ICList = JsonConvert.DeserializeObject<List<string>>(Model.InitialConditions);
    Dictionary<string, decimal> IC = new Dictionary<string, decimal>();
    foreach (string s in ICList)
    {
        IC.Add(s, 0);
    }
}

<h1 class="card-title">Initial Conditions</h1>
<input type="hidden" id="InitialConditions" name="InitialConditions" value="">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Initial Condition</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, decimal> s in IC)
        {
            <tr>
                <td>@s.Key</td>
                <td><input id=@Html.Raw(s.Key) type="number" value=@Html.Raw(s.Value) onchange="onIcChange(this, value)" /></td>
            </tr>
        }
    </tbody>
</table>
@Html.ValidationMessageFor(m => m.InitialConditions, "", new { @class = "text-danger" })

<script>
    var IC = @Html.Raw(JsonConvert.SerializeObject(IC));
    function onIcChange(a, value) {
        IC[a.id] = parseFloat(value);
        var newVal = JSON.stringify(IC);
        $("#InitialConditions").val(newVal);
    }
</script>