﻿@model Simulab.Models.Database_Models.SimulationConfigurationModel

<div class="card border-primary mb-3">
    <div class="card-body">
        <h1 class="card-title">Parameter Families</h1>
        <div class="form-group">
            @Html.LabelFor(m => m.PF_StartTime, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PF_StartTime, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PF_StartTime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PF_EndTime, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PF_EndTime, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PF_EndTime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PF_Step, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PF_Step, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PF_Step, "", new { @class = "text-danger" })
        </div>
    </div>
</div>