﻿@model app.Models.Database_Models.SimulationConfigurationModel

<div class="card border-primary mb-3">
    <div class="card-body">
        <h1 class="card-title">Solver Settings</h1>
        <div class="form-group">
            @Html.LabelFor(m => m.Solver_StartTime, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_StartTime, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_StartTime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Solver_EndTime, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_EndTime, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_EndTime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Solver_Interval, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_Interval, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_Interval, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Solver_MaxStep, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_MaxStep, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_MaxStep, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Solver_Tighten, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_Tighten, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_Tighten, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Solver_Timeout, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_Timeout, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_Timeout, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Solver_AbsoluteTolerance, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_AbsoluteTolerance, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_AbsoluteTolerance, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Solver_RelativeTolerance, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Solver_RelativeTolerance, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Solver_RelativeTolerance, "", new { @class = "text-danger" })
        </div>
    </div>
</div>