﻿@model List<Simulab.Models.Database_Models.ModelItemModel>
@using Simulab.Models.Database_Models

@if (Model != null)
{
    <option value="" selected disabled hidden>Select Model</option>
    @foreach (ModelItemModel m in Model)
    {
        <option value=@Html.Raw(m.Id)>@Html.Raw(m.Name)</option>
    }
}