﻿@model Simulab.Models.Database_Models.SimulationConfigurationModel

@using Simulab.Models.Simulations.Enums;

<div class="card border-primary mb-3">
    <div class="card-body">
        <h1 class="card-title">Data Settings</h1>
        <div class="form-group">
            @Html.LabelFor(m => m.Retention, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Retention, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Retention, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Lifetime, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Lifetime, Html.GetEnumSelectList(typeof(SimnConfigDataLifeType)), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Lifetime, "", new { @class = "text-danger" })
        </div>
    </div>
</div>