﻿@model Simulab.Models.Database_Models.SimulationConfigurationModel
@using Newtonsoft.Json;
@using Simulab.Models.Database_Models;

@{
    ViewData["Title"] = "Configurator";
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height:100%;">
    <div class="row">
        <div class="col-lg-12" style="padding: 10px 0 10px 0;">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Simulation Configurator</h1>
                    @using (Html.BeginForm("Configurator", "Simulation", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.UserId);
                        <div class="card border-primary mb-3">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="dropdown">
                                        @Html.LabelFor(m => m.ModelId, new { @class = "control-label" })
                                        <select class="form-control" data-val="true" data-val-required="The Model ID field is required." id="ModelId"
                                                name="ModelId" onchange="onModelSelect(this.value)" @(Model != null ? "value=" + Model.Model : "")></select>
                                        @Html.ValidationMessageFor(m => m.ModelId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="DetailSettings" style="display: none">

                            @Html.Partial("ConfiguratorParameterFamilies", Model)

                            @Html.Partial("ConfiguratorEnvironment", Model)

                            @Html.Partial("ConfiguratorSolver", Model)

                            @Html.Partial("ConfiguratorData", Model)

                            <div class="card border-primary mb-3">
                                <div class="card-body" id="ICdiv">
                                </div>
                            </div>

                            <div class="card border-primary mb-3">
                                <div class="card-body">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(m => m.ViewLiveData, new { @class = "form-check-input" })
                                        @Html.LabelFor(m => m.ViewLiveData, new { @class = "form-check-label" })
                                        @Html.ValidationMessageFor(m => m.ViewLiveData, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-check">
                                        @Html.CheckBoxFor(m => m.Notification, new { @class = "form-check-input" })
                                        @Html.LabelFor(m => m.Notification, new { @class = "form-check-label" })
                                        @Html.ValidationMessageFor(m => m.Notification, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <input type="submit" id="sendSimulation" class="btn btn-raised btn-info" value="Start Simulation" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    var config = @Html.Raw(JsonConvert.SerializeObject(Model));    
    var url = "@Url.Action("ConfiguratorModelSelect", "Simulation")";
    $("#ModelId").load(url, function () {
        if (config.ModelId != 0) {
            $("#DetailSettings").show();
            $("#ModelId").val(config.ModelId);
            onModelSelect(config.ModelId);
        }});
   

    function onModelSelect(id) {
        var url = "@Url.Action("ConfiguratorICs", "Simulation")?id=" + id;
        $("#ICdiv").load(url);
        $("#DetailSettings").show();
    }
</script>