﻿@model List<Simulab.Models.Database_Models.SimulationConfigurationModel>

@using Simulab.Models.Database_Models

@{
    ViewData["Title"] = "SimulationHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@foreach(SimulationConfigurationModel m in Model)
{
    <a href=@Html.Raw(Url.Action("Result", "Simulation") + "?id=" + m.Id.ToString())>
    <div class="card border-primary mb-3" onclick="">
        <div class="card-body">
            <h5 class="card-title">@Html.Raw("Model Name: " + @m.Model.Name)</h5>
            <p class="card-text">@Html.Raw("Execution Time: " + m.Date + "\tCreated By: " + @m.User.UserName)</p>
        </div>
    </div>
    </a>

}

