﻿@model Simulab.Models.Database_Models.SimulationResultModel

@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/node_modules/lodash/lodash.js"></script>
<script src="~/node_modules/gridstack/dist/gridstack.all.js"></script>
<link href="~/node_modules/gridstack/dist/gridstack.css" rel="stylesheet" />
<script src="~/node_modules/plotly.js/dist/plotly.js"></script>

<div class="container-fluid" style="padding: 10px 7px 10px 7px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h2>@Model.Title</h2>
                    <h5>@Model.Description</h5>

                    <div class="grid-stack" data-gs-width="12" data-gs-animate="yes" data-gs-current-height="6">
                        @{
                            int col = 0;
                            int row = 0;
                        }
                        @for (int i = 0; i < Model.Data.Data_y.Count; i++)
                        {
                            <div class="grid-stack-item ui-draggable ui-resizable card border-primary mb-5" data-gs-x=@Html.Raw(col * 4) data-gs-y=@Html.Raw(row * 4) data-gs-auto-position data-gs-width="4" data-gs-height="4">
                                <div class="grid-stack-item-content ui-draggable-handle">
                                    <div id=@Html.Raw("plotly" + i) class=""></div>
                                </div>
                            </div>
                            col++;
                            if (col == 3)
                            {
                                row++;
                                col = 0;
                            }
                        }
                    </div>

                    <script type="text/javascript" id="code">
                        var d3 = Plotly.d3;
                        $('.grid-stack').gridstack({
                            width: 12,
                            disableResize: false,
                            autosize:true,
                            handle:'grid-stack-item-content',
                            handleClass: 'grid-stack-item-content',
                            alwaysShowResizeHandle: true,
                            resizable: {
                                handles: 'se'
                            }
                        });

                        function SetPlotly(id, data_x, data_y) {
                            var innerPlotData = {
                                x: [],
                                y: [],
                                type: 'scatter'
                            };

                            innerPlotData.x = data_x;
                            innerPlotData.y = data_y;

                            var layout = {title: (id + 1)}

                            var plotData = [innerPlotData];
                                /*
                                var d3 = Plotly.d3;
                                var WIDTH_IN_PERCENT_OF_PARENT = 100,
                                    HEIGHT_IN_PERCENT_OF_PARENT = 50;

                                var gd3 = d3.selectAll(".responsive-plot")
                                    .style({
                                        width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                                        'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',

                                        height: HEIGHT_IN_PERCENT_OF_PARENT + '%',
                                        'margin-top': (100 - HEIGHT_IN_PERCENT_OF_PARENT) / 2 + 'vh'
                                    });

                                var nodes_to_resize = gd3[0]; //not sure why but the goods are within a nested array
                                window.onresize = function () {
                                    for (var i = 0; i < nodes_to_resize.length; i++) {
                                        Plotly.Plots.resize(nodes_to_resize[i]);
                                    }
                                }*/
                            Plotly.newPlot("plotly" + id, plotData, layout);
                         }

                        var result = @Html.Raw(JsonConvert.SerializeObject(Model));

                        var length = result.Data.Data_y.length;
                        for (var i = 0; i < length; i++) {
                            SetPlotly(i, result.Data.Data_x, result.Data.Data_y[i]);
                            //resize after plot to fit div
                            $("#plotly" + i).one('plotly_afterplot', (data) => {
                                var element = data.currentTarget.parentNode.parentNode;
                                var update = {
                                    width: element.offsetWidth,
                                    height: element.offsetHeight
                                };
                                Plotly.relayout(data.currentTarget, update);
                            });
                        }

                        //Gridstack trigger plotly
                        $('.grid-stack')
                            .on('resizestop', (event, ui) => {
                                var grid = this;
                                var element = event.target;
                                console.log(element);
                                var gd3 = d3.select(element)
                                    .select(".js-plotly-plot");
                                var gd = gd3.node();
                                var update = {
                                    width: element.offsetWidth,
                                    height: element.offsetHeight
                                };
                                Plotly.relayout(gd, update);

                            });

                        //Window resize plotly
                        window.addEventListener("resize", (event, items) => {
                            var gd3 = d3.selectAll(".js-plotly-plot");
                            gd3[0].forEach((item) => { 
                                var element = item.parentNode.parentNode;
                                var update = {
                                    width: element.offsetWidth,
                                    height: element.offsetHeight
                                };
                                Plotly.relayout(item, update);
                            })
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

