﻿
@{
    ViewData["Title"] = "Simulation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="height:100%;">
    <div class="row">
        <div class="col-lg-12" style="padding: 10px 0 10px 0;">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h1 class="card-title">Simulations</h1>
                    <h6 class="card-subtitle mb-2 text-muted">Create, Edit, View and Delete Models</h6>
                    <div class="form-group">
                        <Button name="newSimulation" class="btn btn-raised btn-info" onclick="location.href='@Url.Action("Configurator", "Simulation")'">New Simulation</Button>
                        <Button name="simulationHistory" class="btn btn-raised btn-info" onclick="location.href='@Url.Action("History", "Simulation")'">Simulation History</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

