﻿@model Simulab.Models.UserLoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh" }>
        <div class="col-4">
            <div>
                <img src="~/Contents/logo.svg" />
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="text-danger" style="display: @(String.IsNullOrEmpty(ViewBag.ErrorMessage) ? "none" : "block")">
                        @ViewBag.ErrorMessage
                    </p>
                    @using (Html.BeginForm("Login", "Root", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Type = "password"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
				        <p>@Html.ActionLink("New to us?", "Register")</p>
                        <input type="submit" id="sendLogin" class="btn btn-primary" value="Login"/>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

