﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="~/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="~/Contents/Site.css">
    <!-- JS Libs -->
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-ui-dist/jquery-ui.js"></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="~/node_modules/bootstrap-material-design/dist/js/bootstrap-material-design.js"></script>
    <script src="~/node_modules/ace-builds/src/ace.js"></script>
    <script src="~/node_modules/ace-builds/src/theme-monokai.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Simulab.io</title>
</head>
<body style="background-color:#232322;">
    <div id="root" style="height: 100%;">
        @Html.Partial("_Navbar")
        <div id="app">
            @RenderBody()
        </div>
    </div>
</body>
</html>
