<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Simulab.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "model" ? "active" : "")">
            @Html.ActionLink("Model", "MView", "Model")</li>
        <li class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "simulation" ? "active" : "")">
            @Html.ActionLink("Simulation", "Simulation", "Simulation")</li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    @Html.Partial("_User")
  </div>
</nav>