
@{
    string Username = User.Identity.Name;
}

@if (!String.IsNullOrEmpty(Username))
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Username
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton"  style="right:1px; left:auto;">
            @Html.ActionLink("Settings", "Account", "User", null, new { @class = "dropdown-item" })
            @Html.ActionLink("Logout", "Logout", "Root", null, new { @class = "dropdown-item" })
        </div>
    </div>
}
