﻿@model Simulab.Models.Database_Models.UserModel

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/User/Settings.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <p style="color:red">@ViewBag.Message</p>
}

<br />
<h2>Account Settings</h2>
@using (Html.BeginForm("Account", "User", FormMethod.Post))
{
    <div class="card border-primary mb-3">
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <input type="submit" id="sendSimulation" class="btn btn-raised btn-info" value="Update" />
}


