﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Account Settings</h1>
<div class="container" style="height:100%;">
    <div class="col-lg-12" style="padding: 10px 0 10px 0;">
        <div class="card">
            <div class="card-body">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
                    <a class="navbar-brand" href="#">User Settings</a>
                    <ul class="navbar-nav">
                        <li class="nav-item nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Account" ? "active" : "")">
                            @Html.ActionLink("Account Settings", "Account", "User")
                        </li>
                        <li class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Team" ? "active" : "")">
                            @Html.ActionLink("Team Settings", "Team", "User")
                        </li>
                    </ul>
                </nav>
                @RenderBody()
            </div>
        </div>
    </div>
</div>