﻿@model Simulab.Models.Database_Models.UserModel

@using Simulab.Models.Database_Models

@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/User/Settings.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <p style="color:red">@ViewBag.Message</p>
}
<br />
<h2>Team Settings</h2>
<table class="table">
    <colgroup>
        <col style="width: 20%">
        <col style="width: 60%">
        <col style="width: 20%">
    </colgroup>
    <thead class="thead-dark">
        <tr>
            <th>Team Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Teams != null)
        {
            foreach (TeamMemberModel t in Model.Teams)
            {
                <tr>
                    <td>
                        <strong>@t.Team.Name</strong>
                    </td>
                    <td>@t.Team.Description</td>
                    <td>
                        <button class="btn btn-raised btn-info btn-sm" role="button" aria-expanded="false">View</button>
                        @if (t.W_Perm > 0)
                        {
                            <button class="btn btn-raised btn-primary btn-sm" data-toggle="modal" href="#TeamEdit" onClick="RenderDetail(@t.Team.Id)" role="button" aria-expanded="false">Edit</button>
                        }
                        @if (t.W_Perm == 7)
                        {
                            <button class="btn btn-raised btn-danger btn-sm" role="button" aria-expanded="false">Delete</button>
                        }
                    </td>
                </tr>
            }
        }
        <tr>
            <td colspan="3" align="center">
                <button type="button" class="btn btn-raised btn-success" data-toggle="modal" href="#NewTeam" role="button"
                        aria-expanded="false">
                    Create New
                </button>
            </td>
        </tr>
    </tbody>
</table>
@Html.Partial("~/Views/Team/Create.cshtml", new TeamModel())

<!-- Model Edit Modal -->
<div class="modal fade" id="TeamEdit" tabindex="-1" role="dialog" aria-labelledby="TeamEdit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditTeamTitle">Edit Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="TeamEditDiv">
            </div>
        </div>
    </div>
</div>

<script>
    function RenderDetail(id)
    {
        var url = "@Url.Action("Update", "Team")?teamId=" + id;
        $("#TeamEditDiv").load(url);
        
    }
</script>
