/*Simulab.io -- Css*/

/*--------------------
 Links
---------------------- */
a{
    color:#2d98e8;
}
.btn.btn-outline-success, .btn-outline-success{
    color: #2d98e8;
    border-color: #2d98e8;
}
.btn-outline-success{
    color: #2d98e8;
    border-color: #2d98e8;
}
/*--------------------
 Form
---------------------- */
.form-control, .custom-file-control, .is-focused .form-control, .is-focused .custom-file-control{
    background-image: linear-gradient(to top,
                                        #2d97e8 2px,
                                        rgba(0, 150, 136, 0) 2px),
                                        linear-gradient(to top,
                                        rgba(0, 0, 0, 0.26) 1px,
                                        transparent 1px);
}
.btn-primary, .btn.btn-primary,.btn.btn-primary:active:hover,.btn-primary.custom-file-control::before{
    color: #2d98e8;
    border-color: #2d98e8;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}