﻿@model Simulab.Models.Database_Models.TeamMemberModel

<div class="collapse" id="AddUser">
    <div class="card">
        <div class="card-body">
            <form onsubmit="AddUser(); return false;" id="AddUserForm">
                @Html.HiddenFor(m => m.Team.Id)
                <div class="form-group">
                    <div class="form-inline">
                        <button class="btn btn-raised btn-info" style="display: inline-block" onclick="CheckName(); return false;">Search for User</button>
                        <div class="list-group-item">
                            @Html.LabelFor(m => m.User.UserName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control", @readonly = "readonly", @id = "UserNameTextBox" })
                            @Html.ValidationMessageFor(m => m.User.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <p>Set Read, Write and Execute Permission for Team Models (The Value of 1 has the least access and 7 has the highest)</p>
                <div class="form-inline">
                    <div class="list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(m => m.R_Perm, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.R_Perm, new { @class = "form-control", type = "number", min = 1, max = 7 })
                            @Html.ValidationMessageFor(m => m.R_Perm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(m => m.W_Perm, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.W_Perm, new { @class = "form-control", type = "number", min = 1, max = 7 })
                            @Html.ValidationMessageFor(m => m.W_Perm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(m => m.X_Perm, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.X_Perm, new { @class = "form-control", type = "number", min = 1, max = 7 })
                            @Html.ValidationMessageFor(m => m.X_Perm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <input type="submit" id="sendUserAdd" class="btn btn-raised btn-info" value="Submit" />
            </form>
        </div>
    </div>
</div>

<script>
    function CheckName() {
        var s = prompt("Please enter username or email address");
        $.get("/User/FindUser?filter=" + s)
            .done((d) => {
                $("#UserNameTextBox").val(s);
            })
            .catch((d) => {
                if (d.status == 404) { alert("User NotFound"); }
                else { alert("Internal Error"); }
            })
    }

    function AddUser() { 
        $.post("/Team/AddUser", $("#AddUserForm").serialize())
            .done((d) => {
                RenderDetail(@Html.Raw(Model.Team.Id));
            })
            .catch((d) => {
                if (d.status == 409) { alert("User already exists"); }
                else if (d.status == 403) { alert("Forbidden"); }
            })
           
    }
</script>