﻿@model Simulab.Models.Database_Models.TeamModel

<div class="modal fade" id="NewTeam" tabindex="-1" role="dialog" aria-labelledby="NewTeam" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NewTeamTitle" )>Create Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Team", FormMethod.Post))
                {
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "height:100px" })
                            </div>
                        </div>
                    </div>
                    <input type="button" id="cancelCreation" class="btn btn-secondary" value="Cancel" />
                    <input type="submit" id="sendCreation" class="btn btn-raised btn-info" value="Submit" />
                }
            </div>
        </div>
    </div>
</div>