﻿@model Simulab.Models.Database_Models.TeamModel

@using Simulab.Models.Database_Models

@using (Html.BeginForm("SubmitUpdate", "Team", FormMethod.Post))
{
    <div class="card border-primary mb-3">
        <div class="card-body">
            <h3>Basic Team Settings:</h3>
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <input type="button" id="cancelCreation" class="btn btn-secondary" value="Cancel" />
    <input type="submit" id="sendCreation" class="btn btn-raised btn-info" value="Submit" />
}


<div class="card border-primary mb-3">
    <div class="card-body">
        <h3>Team Member Permissions:</h3>
        <table class="table" id="TeamUserTable">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Execute</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Users != null)
                {
                    foreach (TeamMemberModel t in Model.Users)
                    {
                        <tr>
                            <td>
                                <strong>@t.User.UserName</strong>
                            </td>
                            <td>
                                <input id="@Html.Raw(t.Id + "RPerm")" class="form-control" type="number" value="@Html.Raw(t.R_Perm)" max="7" min="1" disabled />
                            </td>
                            <td>
                                <input id="@Html.Raw(t.Id + "WPerm")" class="form-control" type="number" value="@Html.Raw(t.W_Perm)" max="7" min="1" disabled />
                            </td>
                            <td>
                                <input id="@Html.Raw(t.Id + "XPerm")" class="form-control" type="number" value="@Html.Raw(t.R_Perm)" max="7" min="1" disabled />
                            </td>
                            <td>
                                <button id="@Html.Raw(t.Id + "EditButton")" class="btn btn-raised btn-info btn-sm" role="button" aria-expanded="false" onclick="EditUser(@Html.Raw(t.Id))">Edit</button>
                                <button id="@Html.Raw(t.Id + "UpdateButton")" class="btn btn-raised btn-success btn-sm" role="button" aria-expanded="false" style="display: none" onclick="UpdateUser(@Html.Raw(t.Id))">Update</button>
                                <button class="btn btn-raised btn-danger btn-sm" role="button" aria-expanded="false" onclick="RemoveUser(@Html.Raw(t.Id))">Remove</button>
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="5" >
                        <button type="button" class="btn btn-raised btn-success" data-toggle="collapse" href="#AddUser" role="button"
                                aria-expanded="false" align="center">
                            Add New User
                        </button>
                        @Html.Partial("AddUser", new TeamMemberModel() { Team = new TeamModel { Id = Model.Id}, R_Perm = 1, W_Perm = 1, X_Perm = 1 })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function RemoveUser(id)
    {
        $.post("/Team/RemoveUser?id=" + id)
            .done((d) => {
                RenderDetail(@Html.Raw(Model.Id));
            });
    }

    function EditUser(id) {
        $("#" + id + "RPerm").prop("disabled", false);
        $("#" + id + "WPerm").prop("disabled", false);
        $("#" + id + "XPerm").prop("disabled", false);
        $("#" + id + "EditButton").css("display", "none");
        $("#" + id + "UpdateButton").css("display", "inline-block");
    }

    function UpdateUser(id)
    {
        $.post("/Team/UpdateUser?id=" + id + "&r=" + r + "&w=" + w + "&x=" + x)
            .done((d) => {
                RenderDetail(@Html.Raw(Model.Id));
            })
            .catch((d) => {
                if (d.status == 403) {
                    alert("Forbidden");
                }
            });
        $("#" + id + "RPerm").prop("disabled", true);
        $("#" + id + "WPerm").prop("disabled", true);
        $("#" + id + "XPerm").prop("disabled", true);
        $("#" + id + "EditButton").css("display", "inline-block");
        $("#" + id + "UpdateButton").css("display", "none");
    }
</script>